<?xml version="1.0"?>
<!--
/**
 * @author Rbofee Team
 * @copyright Copyright (c) 2018 Rbofee
 * @package Rbofee_Extrafee
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Rbofee_Extrafee::fee" title="Extra Fee" translate="title" module="Rbofee_Extrafee" sortOrder="25" parent="Magento_Backend::stores" resource="Rbofee_Extrafee::fee"/>
        <add id="Rbofee_Extrafee::fee_manage" title="Fees" translate="title" module="Rbofee_Extrafee" sortOrder="10" parent="Rbofee_Extrafee::fee" action="rbofee_extrafee/index/" resource="Rbofee_Extrafee::manage"/>
    </menu>
</config>