<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <sales>
      <totals_sort>
        <paymentfee>60</paymentfee>
      </totals_sort>
    </sales>
    <paymentfee>
      <paymentfeefor>
        <paymentfeeapply>on-subtotal</paymentfeeapply>
      </paymentfeefor>
      <paymentfeecnty>
        <enablecnty>0</enablecnty>
        <addresstype>shipping</addresstype>
        <cntygroup/>
        <cntyfilterenable>0</cntyfilterenable>
        <countries/>
        <cntyrateper/>
        <cntyratefix/>
        <cntyfeetype/>
        <cntydesc/>
      </paymentfeecnty>
      <paymentfeereg>
        <enablereg>0</enablereg>
        <addresstype>shipping</addresstype>
        <reggroup/>
        <regfilterenable>0</regfilterenable>
        <regions/>
        <regrateper/>
        <regratefix/>
        <regfeetype/>
        <regdesc/>
      </paymentfeereg>
      <paymentfeeema>
        <enableema>0</enableema>
        <emaamount/>
        <emagroup/>
        <emafilterenable>0</emafilterenable>
        <emadesc/>
      </paymentfeeema>
      <paymentfeeminfee>
        <enableminfee>0</enableminfee>
        <minfeeamount/>
        <minfeerate/>
        <minfeefilterenable>0</minfeefilterenable>
        <minfeegroup/>
        <minfeedesc/>
      </paymentfeeminfee>
      <paymentfeecg>
        <enablecg>0</enablecg>
        <cggroup/>
        <cgratefix/>
        <cgdesc/>
      </paymentfeecg>
      <paymentfeeprd>
        <enableprd>0</enableprd>
        <prdsurtype>0</prdsurtype>
        <prdsurtypepids/>
        <prdrateper/>
        <prdratefix/>
        <prddesc/>
      </paymentfeeprd>
    </paymentfee>
    <tax>
      <classes>
        <paymentfee_tax_class/>
      </classes>
      <calculation>
        <tax_included_in_paymentfee>0</tax_included_in_paymentfee>
      </calculation>
      <cart_display>
        <paymentfee>1</paymentfee>
      </cart_display>
    </tax>
  </default>
</config>