<?xml version="1.0"?>
<!--
/**
 * @author Rbofee Team
 * @copyright Copyright (c) 2018 Rbofee
 * @package Rbofee_Base
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rbofee_base>
            <notifications>
                <type>INFO,PROMO,INSTALLED_UPDATE,TIPS_TRICKS</type>
                <frequency>5</frequency>
            </notifications>
        </rbofee_base>
    </default>
</config>
