<?xml version="1.0"?>
<!--
/**
 * @author Rbofee Team
 * @copyright Copyright (c) 2018 Rbofee
 * @package Rbofee_Conditions
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="salesrule_rule_condition_combine">
        <observer name="Rbofee_Conditions::add_new_condition_handle" instance="Rbofee\Conditions\Observer\Admin\AddNewConditionHandle" />
    </event>
</config>
