<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Rbofee\Conditions\Api\Data\AddressInterface" type="Rbofee\Conditions\Model\Address" />

    <type name="Magento\Quote\Model\Cart\CartTotalRepository">
        <plugin name="Rbofee_Conditions::cart_total_repository_get" type="Rbofee\Conditions\Plugin\Cart\CartTotalRepository" />
    </type>
</config>